<div class="row-fluid">
	<legend class="span4">
		Armor
	</legend>
	<br/>
	<button class="btn btn-mini btn-info pull-right create">New Armor</button>	
</div>

<table class="table table-bordered table-condensed table-striped table-hover">
    <thead>
    <tr>
        <th>Armor Name</th>
        <th>Damage Reduction</th>
        <th>Evade</th>
        <th>Weight</th>
        <th>Type</th>
        <th>Hands</th>
        <th>Cost</th>
        <th>Action</th>
    </tr>
    </thead>
    {{#armor}}
	<tr>
	    <td align="center"><a href="#/armor" class="editable" id="armorName{{armorID}}" name="armorName" value="{{armorID}}" data-type="text">{{armorName}}</a></td>
	    <td><a href="#/armor" class="editableNumber" id="damageReduction{{armorID}}" name="damageReduction" value="{{armorID}}" data-type="text">{{damageReduction}}</a></td>
	    <td><a href="#/armor" class="editableNumber" id="evade{{armorID}}" value="{{armorID}}" name="evade" data-type="text">{{evade}}</a></td>
	    <td><a href="#/armor" class="editablePositiveNumber" id="weight{{armorID}}" value="{{armorID}}" name="weight" data-type="text">{{weight}}</a></td>
	    <td><a href="#/armor" class="editable" id="type{{armorID}}" value="{{armorID}}" name="type" data-type="select" data-source="[{'value': 'HEAD', 'text': 'HEAD'},{'value': 'TORSO', 'text': 'TORSO'},{'value': 'LEGS', 'text': 'LEGS'},{'value': 'HANDS', 'text': 'HANDS'},{'value': 'SHIELD', 'text': 'SHIELD'}]">{{type}}</a></td>
	    <td><a href="#/armor" class="editablePositiveNumber" id="hands{{armorID}}" value="{{armorID}}" name="hands" data-type="text">{{hands}}</a></td>
	    <td><a href="#/armor" class="editablePositiveNumber" id="cost{{armorID}}" value="{{armorID}}" name="cost" data-type="text">{{cost}}</a></td>
	    <td class="delete">
	    <button class="btn btn-mini btn-danger delete" id="delete{{armorID}}" value="{{armorID}}">Delete</button>
	    </td>
	</tr>
	{{/armor}}
</table>

<style>
.table th {
   text-align: center;   
}
</style>