<style>
.modal {
    overflow-y:auto;
    max-height:90%;
}
</style>

<div class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>New Armor</h3>
    </div>
    <div class="modal-body">
    	<div class="control-group armorName">
	        <label for="armorName">Armor Name</label>
	        <input id="armorName" name="armorName" type="text" class="armorName input-medium">
	        <span class="help-inline"></span>
	    </div>
        <div class="control-group damageReduction">
            <label for="damageReduction">Damage Reduction</label>
            <input id="damageReduction" name="damageReduction" type="number" value="0" min="0" class="damageReduction input-medium">
            <span class="help-inline"></span>
        </div>
        <div class="control-group evade">
            <label for="evade">Evade</label>
            <input id="evade" name="evade" type="number" value="0" min="0" class="evade input-medium">
            <span class="help-inline"></span>
        </div>
        <div class="control-group weight">
            <label for="weight">Weight</label>
            <input id="weight" name="weight" type="number" value="2" min="0" class="weight input-medium">
            <span class="help-inline"></span>
        </div>
        <div class="control-group type">
            <label for="type">Type</label>
            <select id="type" name="type">
                <option>HEAD</option>
                <option>TORSO</option>
                <option>LEGS</option>
                <option>HANDS</option>
                <option>SHIELD</option>
            </select>
            <span class="help-inline"></span>
        </div>
        <div class="control-group hands">
            <label for="hands">Hands</label>
            <input id="hands" name="hands" type="number" value="0" min="1" max="2" class="hands input-medium">
            <span class="help-inline"></span>
        </div>
        <div class="control-group cost">
            <label for="cost">Cost</label>
            <input id="cost" name="cost" type="number" value="0" min="0" class="cost input-medium">
            <span class="help-inline"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Close</button>
        <button class="btn btn-primary submitModal">Create</button>
    </div>
</div>