<style>
.modal {
    overflow-y:auto;
    max-height:90%;
}
</style>

{{#combatant}}
<div class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Change Points for {{character.characterName}}</h3>
    </div>
    <div class="modal-body">
    	<div class="control-group power">
	        <label for="power">Power:</label>
	        <input id="power" name="power" type="number" value="{{currentPower}}" class="power input-medium">
	        <span class="help-inline"></span>
	    </div>
        <div class="control-group accuracy">
            <label for="accuracy">Accuracy:</label>
            <input id="accuracy" name="accuracy" type="number" value="{{currentAccuracy}}" class="accuracy input-medium">
            <span class="help-inline"></span>
        </div>
        <div class="control-group finesse">
            <label for="finesse">Finesse:</label>
            <input id="finesse" name="finesse" type="number" value="{{currentFinesse}}" class="finesse input-medium">
            <span class="help-inline"></span>
        </div>
        <div class="control-group wild">
            <label for="wild">Wild:</label>
            <input id="wild" name="wild" type="number" value="{{currentWild}}" class="wild input-medium">
            <span class="help-inline"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Close</button>
        <button class="btn btn-primary submitModal">Submit</button>
    </div>
</div>
{{/combatant}}