<div class="row-fluid">
	<legend class="span4">
		Characters
	</legend>
	<br/>
	<button class="btn btn-mini btn-info pull-right create">New Character</button>	
</div>

<table class="table table-bordered table-hover table-condensed table-striped">
    <thead>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Class</th>
        <th>Level</th>
        <th>HP</th>
        <th>EP</th>
        <th>Strength</th>
        <th>Dexterity</th>
        <th>Agility</th>
        <th>Health</th>
        <th>Cunning</th>
        <th>Willpower</th>
        <th>Intelligence</th>
        <th colspan="2">Attribute</th>
        <th colspan="2">Skill</th>
        <th>Power</th>
        <th>Accuracy</th>
        <th>Finesse</th>
        <th>Wild</th>
        <th>Passive</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {{#characters}}
	<tr>
	    <td align="center"><a href="#/characters/{{characterID}}" class="btn btn-mini btn-info"><i class=" icon-zoom-in icon-white"> </i></a></td>
	    <td align="center"><a href="#/characters" class="editable" id="characterName{{characterID}}" value="{{characterID}}" name="characterName" data-type="text">{{characterName}}</a></td>
	    <td class="characterClass"><a href="#/characters" class="editableCharacterClass" id="characterClass{{characterID}}" value="{{characterID}}" name="characterClass" data-type="select" data-source='[{{#../characterClasses}}{value: {{characterClassID}}, text: "{{characterClassName}}"}, {{/../characterClasses}}]'>
	    {{characterClass.characterClassName}}</a></td>
	    <td><a href="#/characters" class="editablePositiveNonZero" id="level{{characterID}}" value="{{characterID}}" name="level" data-type="text">{{level}}</a></td>
	    <td>{{hpTotal}}</td>
	    <td>{{epTotal}}</td>
	    <td>{{strengthTotal}} ({{strengthAttribute}})</td>
	    <td>{{dexterityTotal}} ({{dexterityAttribute}})</td>
	    <td>{{agilityTotal}} ({{agilityAttribute}})</td>
	    <td>{{healthTotal}} ({{healthAttribute}})</td>
	    <td>{{cunningTotal}} ({{cunningAttribute}})</td>
	    <td>{{willpowerTotal}} ({{willpowerAttribute}})</td>
	    <td>{{intelligenceTotal}} ({{intelligenceAttribute}})</td>
	    <td>{{attribute}}</td>
	    <td><button class="btn btn-micro btn-success spendPoints" id="spendPoints{{characterID}}" value="{{characterID}}">+</button></td>
	    <td>{{skill}}</td>
	    <td><button class="btn btn-micro btn-success spendPoints" id="spendPoints{{characterID}}" value="{{characterID}}">+</button></td>
	    <td>{{power}}</td>
	    <td>{{accuracy}}</td>
	    <td>{{finesse}}</td>
	    <td>{{wild}}</td>
	    <td>{{passive}}</td>
	    <td class="delete">
	    <button class="btn btn-mini btn-danger delete" id="delete{{characterID}}" value="{{characterID}}">Delete</button>
	    </td>
	</tr>
	{{/characters}}
	</tbody>
</table>

<style>
.table th {
   text-align: center;   
}
</style>