<button class="btn btn-mini btn-info create">New Character</button>
<p>
<ul class="nav nav-tabs nav-stacked">
{{#characters}}
<li id="{{characterID}}"><a href="#/characters/{{characterID}}">{{characterName}}</a></li>
{{/characters}}
</ul>
