<script type="text/javascript">
    function attributeSwap(attribute1, attribute2) {
        var tmp = attribute1.value 
        attribute1.value = attribute2.value
        attribute2.value = tmp
    }

    function randomizeValue(elementId, maxValue, constant) {
        document.getElementById(elementId).value=Math.floor((Math.random()*maxValue)+1+constant);
    }

    randomizeValue('hp',4,6)
    randomizeValue('ep',4,0)
</script>

<style>
.modal {
    overflow-y:auto;
    max-height:90%;
}
</style>

<div class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>New Character</h3>
    </div>
    <div class="modal-body">
    	<div class="control-group characterName">
	        <label for="characterName">Character Name</label>
	        <input id="characterName" name="characterName" type="text" class="characterName input-medium">
	        <span class="help-inline"></span>
	    </div>
        <div class="control-group characterClass">
            <label for="characterClass">Character Class</label>
            <select id="characterClass" name="characterClass">
                {{#characterClasses}}
                <option value="{{characterClassID}}">{{characterClassName}}</option>
                {{/characterClasses}}
            </select>
            <span class="help-inline"></span>
        </div>
        <div class="control-group level">
            <label for="level">Level</label>
            <div class="input-append">
                <input class="span1" type="text" id="level" name="level" value="1" readonly="true" style="font-weight:bold; height:21px">
                <div class="btn-group btn-group-vertical">
                  <button class="btn btn-success btn-micro" type="button" onclick="document.getElementById('level').value++">/\</button>
                  <button class="btn btn-danger btn-micro" type="button" onclick="if (document.getElementById('level').value > 1) { document.getElementById('level').value--; }">\/</button>
                </div>
            </div>
        </div>
        <div class="control-group hp">
            Initial HP (7-10)
            <div class="input-append">
                <input class="span1" type="text" id="hp" name="hp" value="1" readonly="true" style="font-weight:bold;">
                <button class="btn btn-success" type="button" id="randomizeHp" name="randomizeHp" value="Randomize" onclick="randomizeValue('hp',4,6)">Randomize</button>
            </div>
        </div>
        <div class="control-group ep">
            Initial EP (1-4)
            <div class="input-append">
                <input class="span1" type="text" id="ep" name="ep" value="1" readonly="true" style="font-weight:bold;">
                <button class="btn btn-success" type="button" id="randomizeEp" name="randomizeEp" value="Randomize" onclick="randomizeValue('ep',4,0)">Randomize</button>
            </div>
        </div>
        <br/>
        <div class="row-fluid control-group strength">
            <div class="span2">
                Strength:
            </div>
            <div class="span2">
                <input class="input-mini" type="text" id="strength" name="strength" value="3" readonly="true" style="font-weight:bold;">
            </div>
            <div class="span1">
                <br/>
                <button class="btn btn-success btn-micro" type="button" onclick="attributeSwap(document.getElementById('strength'), document.getElementById('dexterity'))"><i class="icon-resize-vertical icon-white"> </i></button>
            </div>
        </div>
        <div class="row-fluid control-group dexterity">
            <div class="span2">
                Dexterity:
            </div>
            <div class="span2">
                <input class="input-mini" type="text" id="dexterity" name="dexterity" value="2" readonly="true" style="font-weight:bold;">
            </div>
            <div class="span1">
                <br/>
                <button class="btn btn-success btn-micro" type="button" onclick="attributeSwap(document.getElementById('dexterity'), document.getElementById('agility'))"><i class="icon-resize-vertical icon-white"> </i></button>
            </div>
        </div>
        <div class="row-fluid control-group agility">
            <div class="span2">
                Agility:
            </div>
            <div class="span2">
                <input class="input-mini" type="text" id="agility" name="agility" value="1" readonly="true" style="font-weight:bold;">
            </div>
            <div class="span1">
                <br/>
                <button class="btn btn-success btn-micro" type="button" onclick="attributeSwap(document.getElementById('agility'), document.getElementById('health'))"><i class="icon-resize-vertical icon-white"> </i></button>
            </div>
        </div>
        <div class="row-fluid control-group health">
            <div class="span2">
                Health:
            </div>
            <div class="span2">
                <input class="input-mini" type="text" id="health" name="health" value="3" readonly="true" style="font-weight:bold;">
            </div>
            <div class="span1">
                <br/>
                <button class="btn btn-success btn-micro" type="button" onclick="attributeSwap(document.getElementById('health'), document.getElementById('cunning'))"><i class="icon-resize-vertical icon-white"> </i></button>
            </div>
        </div>
        <div class="row-fluid control-group cunning">
            <div class="span2">
                Cunning:
            </div>
            <div class="span2">
                <input class="input-mini" type="text" id="cunning" name="cunning" value="2" readonly="true" style="font-weight:bold;">
            </div>
            <div class="span1">
                <br/>
                <button class="btn btn-success btn-micro" type="button" onclick="attributeSwap(document.getElementById('cunning'), document.getElementById('willpower'))"><i class="icon-resize-vertical icon-white"> </i></button>
            </div>
        </div>
        <div class="row-fluid control-group willpower">
            <div class="span2">
                Willpower:
            </div>
            <div class="span2">
                <input class="input-mini" type="text" id="willpower" name="willpower" value="1" readonly="true" style="font-weight:bold;">
            </div>
            <div class="span1">
                <br/>
                <button class="btn btn-success btn-micro" type="button" onclick="attributeSwap(document.getElementById('willpower'), document.getElementById('intelligence'))"><i class="icon-resize-vertical icon-white"> </i></button>
            </div>
        </div>
        <div class="row-fluid control-group intelligence">
            <div class="span2">
                Intelligence:
            </div>
            <div class="span2">
                <input class="input-mini" type="text" id="intelligence" name="intelligence" value="3" readonly="true" style="font-weight:bold;">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Close</button>
        <button class="btn btn-primary submitCharacterModal">Create</button>
    </div>
</div>