<style>
.modal {
    overflow-y:auto;
    max-height:90%;
}
</style>

<div class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>New Character Class</h3>
    </div>
    <div class="modal-body">
    	<div class="control-group characterClassName">
	        <label for="characterClassName">Character Class Name</label>
	        <input id="characterClassName" name="characterClassName" type="text" class="user input-medium">
	        <span class="help-inline"></span>
	    </div>
        <form>
        <div class="control group initialBonus">
            <table cellpadding="0" cellspacing="0" border="0">
                 <tr>
                    <td rowspan="2">
                        Initial HP Bonus: &nbsp; &nbsp;
                    </td>
                    <td rowspan="2">
                        <input type="text" id="hpInitialBonus" name="hpInitialBonus" value="0" readonly="true" style="width:20px;height:30px;font-weight:bold;padding:5px;">
                    </td>
                    <td>
                        <input type="button" value=" /\ " onclick="this.form.hpInitialBonus.value++;" style="font-ize:7px;margin-top:-1px;padding:0px;width:20px;height:21px;">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="button" value=" \/ " onclick="if (this.form.hpInitialBonus.value > 0) { this.form.hpInitialBonus.value--; }" style="font-ize:7px;margin-top:-11px;padding:0px;width:20px;height:21px;">
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        Initial EP Bonus: &nbsp; &nbsp;
                    </td>
                    <td rowspan="2">
                        <input type="text" id="epInitialBonus" name="epInitialBonus" value="0" readonly="true" style="width:20px;height:30px;font-weight:bold;padding:5px;">
                    </td>
                    <td>
                        <input type="button" value=" /\ " onclick="this.form.epInitialBonus.value++;" style="font-ize:7px;margin-top:-1px;padding:0px;width:20px;height:21px;">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="button" value=" \/ " onclick="if (this.form.epInitialBonus.value > 0) { this.form.epInitialBonus.value--; }" style="font-ize:7px;margin-top:-11px;padding:0px;width:20px;height:21px;">
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        Initial Skill Bonus: &nbsp; &nbsp;
                    </td>
                    <td rowspan="2">
                        <input type="text" id="skillInitialBonus" name="skillInitialBonus" value="0" readonly="true" style="width:20px;height:30px;font-weight:bold;padding:5px;">
                    </td>
                    <td>
                        <input type="button" value=" /\ " onclick="this.form.skillInitialBonus.value++;" style="font-ize:7px;margin-top:-1px;padding:0px;width:20px;height:21px;">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="button" value=" \/ " onclick="if (this.form.skillInitialBonus.value > 0) { this.form.skillInitialBonus.value--; }" style="font-ize:7px;margin-top:-11px;padding:0px;width:20px;height:21px;">
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        Initial Passive Bonus: &nbsp; &nbsp;
                    </td>
                    <td rowspan="2">
                        <input type="text" id="passiveInitialBonus" name="passiveInitialBonus" value="0" readonly="true" style="width:20px;height:30px;font-weight:bold;padding:5px;">
                    </td>
                    <td>
                        <input type="button" value=" /\ " onclick="this.form.passiveInitialBonus.value++;" style="font-ize:7px;margin-top:-1px;padding:0px;width:20px;height:21px;">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="button" value=" \/ " onclick="if (this.form.passiveInitialBonus.value > 0) { this.form.passiveInitialBonus.value--; }" style="font-ize:7px;margin-top:-11px;padding:0px;width:20px;height:21px;">
                    </td>
                </tr>
            </table>
        </div>
        <div class="control group levelBonus">
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td rowspan="2">
                        HP Level Bonus: &nbsp; &nbsp;
                    </td>
                    <td rowspan="2">
                        <input type="text" id="hpLevelBonus" name="hpLevelBonus" value="0" readonly="true" style="width:20px;height:30px;font-weight:bold;padding:5px;">
                    </td>
                    <td>
                        <input type="button" value=" /\ " onclick="this.form.hpLevelBonus.value++" style="font-ize:7px;margin-top:-1px;padding:0px;width:20px;height:21px;">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="button" value=" \/ " onclick="if (this.form.hpLevelBonus.value > 0) { this.form.hpLevelBonus.value--; }" style="font-ize:7px;margin-top:-11px;padding:0px;width:20px;height:21px;">
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        EP Level Bonus: &nbsp; &nbsp;
                    </td>
                    <td rowspan="2">
                        <input type="text" id="epLevelBonus" name="epLevelBonus" value="0" readonly="true" style="width:20px;height:30px;font-weight:bold;padding:5px;">
                    </td>
                    <td>
                        <input type="button" value=" /\ " onclick="this.form.epLevelBonus.value++" style="font-ize:7px;margin-top:-1px;padding:0px;width:20px;height:21px;">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="button" value=" \/ " onclick="if (this.form.epLevelBonus.value > 0) { this.form.epLevelBonus.value--; }" style="font-ize:7px;margin-top:-11px;padding:0px;width:20px;height:21px;">
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        Strength Initial Bonus: &nbsp; &nbsp;
                    </td>
                    <td rowspan="2">
                        <input type="text" id="strengthInitialBonus" name="strengthInitialBonus" value="0" readonly="true" style="width:20px;height:30px;font-weight:bold;padding:5px;">
                    </td>
                    <td>
                        <input type="button" value=" /\ " onclick="this.form.strengthInitialBonus.value++" style="font-ize:7px;margin-top:-1px;padding:0px;width:20px;height:21px;">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="button" value=" \/ " onclick="if (this.form.strengthInitialBonus.value > 0) { this.form.strengthInitialBonus.value--; }" style="font-ize:7px;margin-top:-11px;padding:0px;width:20px;height:21px;">
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        Dexterity Initial Bonus: &nbsp; &nbsp;
                    </td>
                    <td rowspan="2">
                        <input type="text" id="dexterityInitialBonus" name="dexterityInitialBonus" value="0" readonly="true" style="width:20px;height:30px;font-weight:bold;padding:5px;">
                    </td>
                    <td>
                        <input type="button" value=" /\ " onclick="this.form.dexterityInitialBonus.value++" style="font-ize:7px;margin-top:-1px;padding:0px;width:20px;height:21px;">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="button" value=" \/ " onclick="if (this.form.dexterityInitialBonus.value > 0) { this.form.dexterityInitialBonus.value--; }" style="font-ize:7px;margin-top:-11px;padding:0px;width:20px;height:21px;">
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        Agility Initial Bonus: &nbsp; &nbsp;
                    </td>
                    <td rowspan="2">
                        <input type="text" id="agilityInitialBonus" name="agilityInitialBonus" value="0" readonly="true" style="width:20px;height:30px;font-weight:bold;padding:5px;">
                    </td>
                    <td>
                        <input type="button" value=" /\ " onclick="this.form.agilityInitialBonus.value++" style="font-ize:7px;margin-top:-1px;padding:0px;width:20px;height:21px;">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="button" value=" \/ " onclick="if (this.form.agilityInitialBonus.value > 0) { this.form.agilityInitialBonus.value--; }" style="font-ize:7px;margin-top:-11px;padding:0px;width:20px;height:21px;">
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        Health Initial Bonus: &nbsp; &nbsp;
                    </td>
                    <td rowspan="2">
                        <input type="text" id="healthInitialBonus" name="healthInitialBonus" value="0" readonly="true" style="width:20px;height:30px;font-weight:bold;padding:5px;">
                    </td>
                    <td>
                        <input type="button" value=" /\ " onclick="this.form.healthInitialBonus.value++" style="font-ize:7px;margin-top:-1px;padding:0px;width:20px;height:21px;">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="button" value=" \/ " onclick="if (this.form.healthInitialBonus.value > 0) { this.form.healthInitialBonus.value--; }" style="font-ize:7px;margin-top:-11px;padding:0px;width:20px;height:21px;">
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        Cunning Initial Bonus: &nbsp; &nbsp;
                    </td>
                    <td rowspan="2">
                        <input type="text" id="cunningInitialBonus" name="cunningInitialBonus" value="0" readonly="true" style="width:20px;height:30px;font-weight:bold;padding:5px;">
                    </td>
                    <td>
                        <input type="button" value=" /\ " onclick="this.form.cunningInitialBonus.value++" style="font-ize:7px;margin-top:-1px;padding:0px;width:20px;height:21px;">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="button" value=" \/ " onclick="if (this.form.cunningInitialBonus.value > 0) { this.form.cunningInitialBonus.value--; }" style="font-ize:7px;margin-top:-11px;padding:0px;width:20px;height:21px;">
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        Willpower Initial Bonus: &nbsp; &nbsp;
                    </td>
                    <td rowspan="2">
                        <input type="text" id="willpowerInitialBonus" name="willpowerInitialBonus" value="0" readonly="true" style="width:20px;height:30px;font-weight:bold;padding:5px;">
                    </td>
                    <td>
                        <input type="button" value=" /\ " onclick="this.form.willpowerInitialBonus.value++" style="font-ize:7px;margin-top:-1px;padding:0px;width:20px;height:21px;">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="button" value=" \/ " onclick="if (this.form.willpowerInitialBonus.value > 0) { this.form.willpowerInitialBonus.value--; }" style="font-ize:7px;margin-top:-11px;padding:0px;width:20px;height:21px;">
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        Intelligence Initial Bonus: &nbsp; &nbsp;
                    </td>
                    <td rowspan="2">
                        <input type="text" id="intelligenceInitialBonus" name="intelligenceInitialBonus" value="0" readonly="true" style="width:20px;height:30px;font-weight:bold;padding:5px;">
                    </td>
                    <td>
                        <input type="button" value=" /\ " onclick="this.form.intelligenceInitialBonus.value++" style="font-ize:7px;margin-top:-1px;padding:0px;width:20px;height:21px;">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="button" value=" \/ " onclick="if (this.form.intelligenceInitialBonus.value > 0) { this.form.intelligenceInitialBonus.value--; }" style="font-ize:7px;margin-top:-11px;padding:0px;width:20px;height:21px;">
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        Attribute Initial Bonus: &nbsp; &nbsp;
                    </td>
                    <td rowspan="2">
                        <input type="text" id="attributeInitialBonus" name="attributeInitialBonus" value="0" readonly="true" style="width:20px;height:30px;font-weight:bold;padding:5px;">
                    </td>
                    <td>
                        <input type="button" value=" /\ " onclick="this.form.attributeInitialBonus.value++" style="font-ize:7px;margin-top:-1px;padding:0px;width:20px;height:21px;">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="button" value=" \/ " onclick="if (this.form.attributeInitialBonus.value > 0) { this.form.attributeInitialBonus.value--; }" style="font-ize:7px;margin-top:-11px;padding:0px;width:20px;height:21px;">
                    </td>
                </tr>
            </table>
        </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Close</button>
        <button class="btn btn-primary submitClassModal">Create</button>
    </div>
</div>