
{{#character}}
<div class="row-fluid">
	<legend class="span7">
		<a href="#/characters/{{characterID}}" class="editableCharacterName" id="characterName{{characterID}}" name="characterName" value="{{characterID}}" data-type="text">{{characterName}}</a> - Level <a href="#/characters/{{characterID}}" class="editableLevel" id="level{{characterID}}" name="level" value="{{characterID}}" data-type="text">{{level}}</a> <a href="#/characters/{{characterID}}" class="editableCharacterClass" id="characterClass{{characterID}}" value="{{characterID}}" data-type="select" placement="bottom" data-source='[{{#../characterClasses}}{value: {{characterClassID}}, text: "{{characterClassName}}"}, {{/../characterClasses}}]'>{{characterClass.characterClassName}}</a>
	</legend>
	<br>
	<div class="btn-group pull-right">
		<button class="btn btn-info btn-small spendPoints" id="spendPoints">&nbsp;&nbsp;Points&nbsp;&nbsp;</button>
		<button class="btn btn-info btn-small download" id="download">Download</button>
	</div>
</div>

<div class="row-fluid control-group hp">
	<div class="span4">
		<strong>HP:</strong>
		{{hpTotal}}
	</div>
	<div class="span4">
		<strong>EP:</strong>
		{{epTotal}}
	</div>
</div>

<div class="row-fluid control-group defensive">
	<div class="span4">
		<strong>Evade:</strong>
		{{evade}}
	</div>
	<div class="span4">
		<strong>Damage Reduction:</strong>
		{{damageReduction}}
	</div>
</div>

<div class="control-group attributes">
<table class="table table-hover table-condensed">
    <thead>
    <tr>
        <th>Attribute</th>
        <th>Value</th>
        <th>Bonus</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    	<td>Strength</td>
    	<td>{{strengthTotal}}</td>
    	<td>+{{damageBonus}} damage, +{{strengthTotal}} weight capacity</td>
    </tr>
    <tr>
    	<td>Dexterity</td>
    	<td>{{dexterityTotal}}</td>
    	<td>+{{hitBonus}} to hit</td>
    </tr>
    <tr>
    	<td>Agility</td>
    	<td>{{agilityTotal}}</td>
    	<td>+{{evadeBonus}} to evade</td>
    </tr>
    <tr>
    	<td>Health</td>
    	<td>{{healthTotal}}</td>
    	<td>+{{hpBonus}} to max HP, +{{healthTotal}} weight capacity</td>
    </tr>
    <tr>
    	<td>Cunning</td>
    	<td>{{cunningTotal}}</td>
    	<td>+{{sabotageBonus}} to sabotage, +{{acceptanceBonus}} to synergy acceptance</td>
    </tr>
    <tr>
    	<td>Willpower</td>
    	<td>{{willpowerTotal}}</td>
    	<td>+{{synergyBonus}} to grant synergy, +{{resistanceBonus}} to resistance</td>
    </tr>
    <tr>
    	<td>Intelligence</td>
    	<td>{{intelligenceTotal}}</td>
    	<td>+{{epBonus}} to max EP, +{{carry}} to carry-over</td>
    </tr>
    <tr>
    	<td>Unused Attributes</td>
    	<td>{{attributeTotal}}</td>
    	<td>Spend these points to boost other attributes</td>
    </tr>    
</table>
</div>

<div class="row-fluid control-group weapons">
	<table class="table table-hover table-condensed">
	<thead>
    <tr>
        <th>Weapon</th>
        <th>Hit</th>
        <th>Damage</th>
        <th>Pierce</th>
        <th>Speed</th>
        <th>Range</th>
        <th>EP Cost</th>
        <th>Combat Skill</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    	<td>
			<a href="#/characters/{{characterID}}" class="editableWeapon" id="weapon0" name="0" data-type="select" placement="bottom" data-source='[{value: 0, text: "None"}, {{#../weapons}}{value: {{weaponID}}, text: "{{weaponName}}"}, {{/../weapons}}]'>
			{{#if weapons.[0].weaponName}}
				{{weapons.[0].weaponName}}
			{{else}}
				None
			{{/if}}
			</a>
		</td>
		<td>+{{weapons.[0].hitBonus}}</td>
		<td>{{weapons.[0].damageDiceNumber}}d{{weapons.[0].damageDiceType}}</td>
		<td>{{weapons.[0].pierce}}</td>
		<td>{{weapons.[0].speed}}</td>
		<td>{{weapons.[0].range}}</td>
		<td>{{weapons.[0].epCost}}</td>
		<td>{{weapons.[0].combatSkill.combatSkillName}} - Pow: {{weapons.[0].combatSkill.powerRank}}, Acc: {{weapons.[0].combatSkill.accuracyRank}}, Fin: {{weapons.[0].combatSkill.finesseRank}}</td>
	</tr>
	<tr>
    	<td>
			<a href="#/characters/{{characterID}}" class="editableWeapon" id="weapon1" name="1" data-type="select" placement="bottom" data-source='[{value: 0, text: "None"}, {{#../weapons}}{value: {{weaponID}}, text: "{{weaponName}}"}, {{/../weapons}}]'>
			{{#if weapons.[1].weaponName}}
				{{weapons.[1].weaponName}}
			{{else}}
				None
			{{/if}}
			</a>
		</td>
		<td>+{{weapons.[1].hitBonus}}</td>
		<td>{{weapons.[1].damageDiceNumber}}d{{weapons.[1].damageDiceType}}</td>
		<td>{{weapons.[1].pierce}}</td>
		<td>{{weapons.[1].speed}}</td>
		<td>{{weapons.[1].range}}</td>
		<td>{{weapons.[1].epCost}}</td>
		<td>{{weapons.[1].combatSkill.combatSkillName}} - Pow: {{weapons.[1].combatSkill.powerRank}}, Acc: {{weapons.[1].combatSkill.accuracyRank}}, Fin: {{weapons.[1].combatSkill.finesseRank}}</td>
	</tr>
	<tr>
    	<td>
			<a href="#/characters/{{characterID}}" class="editableWeapon" id="weapon2" name="2" data-type="select" placement="bottom" data-source='[{value: 0, text: "None"}, {{#../weapons}}{value: {{weaponID}}, text: "{{weaponName}}"}, {{/../weapons}}]'>
			{{#if weapons.[2].weaponName}}
				{{weapons.[2].weaponName}}
			{{else}}
				None
			{{/if}}
			</a>
		</td>
		<td>+{{weapons.[2].hitBonus}}</td>
		<td>{{weapons.[2].damageDiceNumber}}d{{weapons.[2].damageDiceType}}</td>
		<td>{{weapons.[2].pierce}}</td>
		<td>{{weapons.[2].speed}}</td>
		<td>{{weapons.[2].range}}</td>
		<td>{{weapons.[2].epCost}}</td>
		<td>{{weapons.[2].combatSkill.combatSkillName}} - Pow: {{weapons.[2].combatSkill.powerRank}}, Acc: {{weapons.[2].combatSkill.accuracyRank}}, Fin: {{weapons.[2].combatSkill.finesseRank}}</td>
	</tr>
	</tbody>
	</table>
</div>

<div class="row-fluid control-group weapons">
	<table class="table table-hover table-condensed span8">
	<thead>
    <tr>
        <th>Armor</th>
        <th>Type</th>
        <th>Protection</th>
        <th>Evade</th>
        <th>Weight</th>
    </tr>
    </thead>
    <tbody>
	{{#armor}}
	<tr>
    	<td>
    		<a href="#/characters/{{characterID}}" class="editableArmor" id="armorHead" name="HEAD" data-type="select" placement="bottom" data-source='[{value: 0, text: "None"}, {{#../../armorHead}}{value: {{armorID}}, text: "{{armorName}}"}, {{/../../armorHead}}]'>
			{{#if HEAD}}
				{{#HEAD}}
				{{armorName}}
				{{/HEAD}}
			{{else}}
				None
			{{/if}}
			</a>
		</td>
		<td>Head</td>
		<td>{{#HEAD}}{{damageReduction}}{{/HEAD}}</td>
		<td>{{#HEAD}}{{evade}}{{/HEAD}}</td>
		<td>{{#HEAD}}{{weight}}{{/HEAD}}</td>
	</tr>
	<tr>
		<td>
    		<a href="#/characters/{{characterID}}" class="editableArmor" id="armorTorso" name="TORSO" data-type="select" placement="bottom" data-source='[{value: 0, text: "None"}, {{#../../armorTorso}}{value: {{armorID}}, text: "{{armorName}}"}, {{/../../armorTorso}}]'>
			{{#if TORSO}}
				{{#TORSO}}
				{{armorName}}
				{{/TORSO}}
			{{else}}
				None
			{{/if}}
			</a>
		</td>
		<td>Torso</td>
		<td>{{#TORSO}}{{damageReduction}}{{/TORSO}}</td>
		<td>{{#TORSO}}{{evade}}{{/TORSO}}</td>
		<td>{{#TORSO}}{{weight}}{{/TORSO}}</td>
	</tr>
	<tr>
		<td>
    		<a href="#/characters/{{characterID}}" class="editableArmor" id="armorLegs" name="LEGS" data-type="select" placement="bottom" data-source='[{value: 0, text: "None"}, {{#../../armorLegs}}{value: {{armorID}}, text: "{{armorName}}"}, {{/../../armorLegs}}]'>
			{{#if LEGS}}
				{{#LEGS}}
				{{armorName}}
				{{/LEGS}}
			{{else}}
				None
			{{/if}}
			</a>
		</td>
		<td>Legs</td>
		<td>{{#LEGS}}{{damageReduction}}{{/LEGS}}</td>
		<td>{{#LEGS}}{{evade}}{{/LEGS}}</td>
		<td>{{#LEGS}}{{weight}}{{/LEGS}}</td>
	</tr>
	<tr>
    	<td>
    		<a href="#/characters/{{characterID}}" class="editableArmor" id="armorHands" name="HANDS" data-type="select" placement="bottom" data-source='[{value: 0, text: "None"}, {{#../../armorHands}}{value: {{armorID}}, text: "{{armorName}}"}, {{/../../armorHands}}]'>
			{{#if HANDS}}
				{{#HANDS}}
				{{armorName}}
				{{/HANDS}}
			{{else}}
				None
			{{/if}}
			</a>
		</td>
		<td>Hands</td>
		<td>{{#HANDS}}{{damageReduction}}{{/HANDS}}</td>
		<td>{{#HANDS}}{{evade}}{{/HANDS}}</td>
		<td>{{#HANDS}}{{weight}}{{/HANDS}}</td>
	</tr>
	<tr>
    	<td>
    		<a href="#/characters/{{characterID}}" class="editableArmor" id="armorShield" name="SHIELD" data-type="select" placement="bottom" data-source='[{value: 0, text: "None"}, {{#../../armorShield}}{value: {{armorID}}, text: "{{armorName}}"}, {{/../../armorShield}}]'>
			{{#if SHIELD}}
				{{#SHIELD}}
				{{armorName}}
				{{/SHIELD}}
			{{else}}
				None
			{{/if}}
			</a>
		</td>
		<td>Shield</td>
		<td>{{#SHIELD}}{{damageReduction}}{{/SHIELD}}</td>
		<td>{{#SHIELD}}{{evade}}{{/SHIELD}}</td>
		<td>{{#SHIELD}}{{weight}}{{/SHIELD}}</td>
	</tr>
	{{/armor}}
	<tr>
		<td/>
		<td/>
		<td/>
		<td>Capacity:</td>
		<td>{{weight}} / {{weightCapacity}}</td>
	</tr>
	</tbody>
	</table>

	<div class="span2 control-group skill">
		<p>
		<dt>Skill Points</dt>
		<dd>{{power}} Power</dd>
		<dd>{{accuracy}} Accuracy</dd>
		<dd>{{finesse}} Finesse</dd>
		<dd>{{wild}} Wild</dd>
		<dd>{{skill}} Unused</dd>
		<dd>{{passive}} Passive</dd>
	</div>
</div>

<div class="control-group characterNotes">

{{#notes}}

<p>
<div>


<label for="characterNote{{characterNoteID}}">Note from {{updated}}</label>

<div class="btn-group btn-group-vertical">
	<button class="btn btn-mini btn-success save" id="save{{characterNoteID}}" name="{{characterNoteID}}" value="{{characterNoteID}}" disabled>
		Save
	</button>
	<button class="btn btn-mini btn-danger delete" id="delete{{characterNoteID}}" value="{{characterNoteID}}">
		Delete
	</button>
</div>

<span id="{{characterNoteID}}" width="80%">
{{text}}
</span>

</div>

<p>

{{/notes}}

<p>

</div>

<label for="characterNote">New Note: <button class="btn btn-mini btn-info add">Add</button></label>
<textarea class="form-control span6" rows="3" id="characterNote" name="characterNote"></textarea>


{{/character}}
