<div class="row-fluid">
	<legend class="span4">
		Character Classes
	</legend>
	<br/>
	<button class="btn btn-mini btn-info pull-right create">New Class</button>	
</div>

<table class="table table-bordered table-hover table-condensed table-striped">
    <thead>
    <tr>
        <th>Class Name</th>
        <th>HP / Lvl</th>
        <th>EP / Lvl</th>
        <th>Strength</th>
        <th>Dexterity</th>
        <th>Agility</th>
        <th>Health</th>
        <th>Cunning</th>
        <th>Willpower</th>
        <th>Intelligence</th>
        <th>Attribute</th>
        <th>Skill</th>
        <th>Passive</th>
        <th>Action</th>
    </tr>
    </thead>
    {{#characterClasses}}
	<tr>
	    <td><a href="#/classes" class="editable" id="characterClassName{{characterClassID}}" name="characterClassName" value="{{characterClassID}}" data-type="text">{{characterClassName}}</a></td>
	    <td><a href="#/classes" class="editableNumber" id="hpInitialBonus{{characterClassID}}" name="hpInitialBonus" value="{{characterClassID}}" data-type="text">{{hpInitialBonus}}</a>/<a href="#/classes" class="editableNumber" id="hpLevelBonus{{characterClassID}}" name="hpLevelBonus" value="{{characterClassID}}" data-type="text">{{hpLevelBonus}}</a></td>
	    <td><a href="#/classes" class="editableNumber" id="epInitialBonus{{characterClassID}}" name="epInitialBonus" value="{{characterClassID}}" data-type="text">{{epInitialBonus}}</a>/<a href="#/classes" class="editableNumber" id="epLevelBonus{{characterClassID}}" name="epLevelBonus" value="{{characterClassID}}" data-type="text">{{epLevelBonus}}</a></td>
	    <td><a href="#/classes" class="editableNumber" id="strengthInitialBonus{{characterClassID}}" name="strengthInitialBonus" value="{{characterClassID}}" data-type="text">{{strengthInitialBonus}}</a></td>
	    <td><a href="#/classes" class="editableNumber" id="dexterityInitialBonus{{characterClassID}}" name="dexterityInitialBonus" value="{{characterClassID}}" data-type="text">{{dexterityInitialBonus}}</a></td>
	    <td><a href="#/classes" class="editableNumber" id="agilityInitialBonus{{characterClassID}}" name="agilityInitialBonus" value="{{characterClassID}}" data-type="text">{{agilityInitialBonus}}</a></td>
	    <td><a href="#/classes" class="editableNumber" id="healthInitialBonus{{characterClassID}}" name="healthInitialBonus" value="{{characterClassID}}" data-type="text">{{healthInitialBonus}}</a></td>
	    <td><a href="#/classes" class="editableNumber" id="cunningInitialBonus{{characterClassID}}" name="cunningInitialBonus" value="{{characterClassID}}" data-type="text">{{cunningInitialBonus}}</a></td>
	    <td><a href="#/classes" class="editableNumber" id="willpowerInitialBonus{{characterClassID}}" name="willpowerInitialBonus" value="{{characterClassID}}" data-type="text">{{willpowerInitialBonus}}</a></td>
	    <td><a href="#/classes" class="editableNumber" id="intelligenceInitialBonus{{characterClassID}}" name="intelligenceInitialBonus" value="{{characterClassID}}" data-type="text">{{intelligenceInitialBonus}}</a></td>
	    <td><a href="#/classes" class="editableNumber" id="attributeInitialBonus{{characterClassID}}" name="attributeInitialBonus" value="{{characterClassID}}" data-type="text">{{attributeInitialBonus}}</a></td>
	    <td><a href="#/classes" class="editableNumber" id="skillInitialBonus{{characterClassID}}" name="skillInitialBonus" value="{{characterClassID}}" data-type="text">{{skillInitialBonus}}</a></td>
	    <td><a href="#/classes" class="editableNumber" id="passiveInitialBonus{{characterClassID}}" name="passiveInitialBonus" value="{{characterClassID}}" data-type="text">{{passiveInitialBonus}}</a></td>
	    <td>
	    <button class="btn btn-mini btn-danger delete" id="delete{{characterClassID}}" value="{{characterClassID}}">Delete</button>
	    </td>
	</tr>
	{{/characterClasses}}
</table>

<style>
.table th {
   text-align: center;   
}
</style>