<div class="row-fluid">
	<legend class="span4">
		Combat Skills
	</legend>
	<br/>
	<button class="btn btn-mini btn-info pull-right create">New Combat Skill</button>	
</div>

<table class="table table-bordered table-hover table-condensed table-striped">
    <thead>
    <tr>
        <th>Combat Skill Name</th>
        <th>Power Rank</th>
        <th>Accuracy Rank</th>
        <th>Finesse Rank</th>
        <th>Action</th>
    </tr>
    </thead>
    {{#combatSkills}}
	<tr>
	    <td align="center"><a href="#/combatSkills" class="editable" id="combatSkillName{{combatSkillID}}" value="{{combatSkillID}}" name="combatSkillName" data-type="text">{{combatSkillName}}</a></td>
	    <td><a href="#/combatSkills" class="editable" id="powerRank{{combatSkillID}}" value="{{combatSkillID}}" data-type="select" name="powerRank" data-source="[{'value': 'A', 'text': 'A'},{'value': 'B', 'text': 'B'},{'value': 'C', 'text': 'C'}]">{{powerRank}}</a></td>
	    <td><a href="#/combatSkills" class="editable" id="accuracyRank{{combatSkillID}}" value="{{combatSkillID}}" name="accuracyRank" data-type="select" data-source="[{'value': 'A', 'text': 'A'},{'value': 'B', 'text': 'B'},{'value': 'C', 'text': 'C'}]">{{accuracyRank}}</a></td>
	    <td><a href="#/combatSkills" class="editable" id="finesseRank{{combatSkillID}}" value="{{combatSkillID}}" name="finesseRank" data-type="select" data-source="[{'value': 'A', 'text': 'A'},{'value': 'B', 'text': 'B'},{'value': 'C', 'text': 'C'}]">{{finesseRank}}</a></td>
	    <td class="delete">
	    <button class="btn btn-mini btn-danger delete" id="delete{{combatSkillID}}" value="{{combatSkillID}}">Delete</button>
	    </td>
	</tr>
	{{/combatSkills}}
</table>

<style>
.table th {
   text-align: center;   
}
</style>