<style>
.modal {
    overflow-y:auto;
    max-height:90%;
}
</style>

<div class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>New Combat Skill</h3>
    </div>
    <div class="modal-body">
    	<div class="control-group combatSkillName">
	        <label for="combatSkillName">Combat Skill Name</label>
	        <input id="combatSkillName" name="combatSkillName" type="text" class="user input-medium">
	        <span class="help-inline"></span>
	    </div>
        <div class="control-group powerRank">
            <label for="powerRank">Power Rank</label>
            <select id="powerRank" name="powerRank">
                <option>A</option>
                <option>B</option>
                <option>C</option>
            </select>
            <span class="help-inline"></span>
        </div>
        <div class="control-group accuracyRank">
            <label for="accuracyRank">Accuracy Rank</label>
            <select id="accuracyRank" name="accuracyRank">
                <option>A</option>
                <option>B</option>
                <option>C</option>
            </select>
            <span class="help-inline"></span>
        </div>
        <div class="control-group finesseRank">
            <label for="finesseRank">Finesse Rank</label>
            <select id="finesseRank" name="finesseRank">
                <option>A</option>
                <option>B</option>
                <option>C</option>
            </select>
            <span class="help-inline"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Close</button>
        <button class="btn btn-primary submitClassModal">Create</button>
    </div>
</div>