<style>
.modal {
    overflow-y:auto;
    max-height:90%;
}
</style>

{{#combatant}}
<div class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Inflict Damage on {{character.characterName}}</h3>
    </div>
    <div class="modal-body">
    	<div class="control-group damage">
	        <label for="damage">Enter Damage:</label>
	        <input id="damage" name="damage" type="number" value="0" class="damage input-medium">
	        <span class="help-inline"></span>
	    </div>
        <div class="control-group pierce">
            <label for="pierce">Enter Pierce:</label>
            <input id="pierce" name="pierce" type="number" value="0" class="pierce input-medium">
            <span class="help-inline"></span>
        </div>
        Damage Reduction: {{addition currentDamageReduction actions.[1].damageReductionBonus}}
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Close</button>
        <button class="btn btn-primary submitModal">Inflict</button>
    </div>
</div>
{{/combatant}}