{{#encounter}}

<div class="row-fluid">
	<legend class="span7">
		<a href="#/encounters/{{encounterID}}" class="editable" id="encounterName{{encounterID}}" name="encounterName" value="{{encounterID}}" data-type="text">{{encounterName}}</a> - Action Log - Round {{subtraction currentRound 1}}
	</legend>
</div>

<div class="row-fluid control-group actionLog">
	<table class="table table-hover table-condensed">
	    <thead>
	    <tr>
	        <th>Speed</th>
	        <th>Character</th>
	        <th>HP</th>
	        <th>EP</th>
	        <th>Weapon</th>
	        <th>Hit</th>
	        <th>Damage</th>
	        <th>Techniques</th>
	        <th>Pow</th>
	        <th>Acc</th>
	        <th>Fin</th>
	        <th>Evade</th>
	        <th>Protection</th>
	        <th>Sabo</th>
	        <th>Syn</th>
	        <th>Resist</th>
	        <th>Status</th>
	    </tr>
	    </thead>
	    <tbody>
		{{#combatants}}
		{{#if actions.[1]}}
		<tr>
			<td>{{actions.[1].initiative}}</td>
			<td>
				<a href="#/characters/{{character.characterID}}" target="_blank">
					{{character.characterName}}
				</a>
			</td>
			<td>
				<a href="#/encounters/{{../encounterID}}" id="reduceHp{{combatantID}}" value="{{combatantID}}" class="reduceHp">
					{{currentHp}}
				</a>
	    	</td>
			<td>
				<a href="#/encounters/{{../encounterID}}" id="reduceEp{{combatantID}}" value="{{combatantID}}" class="reduceEp">
					{{currentEp}}
				</a>
			</td>
			<td>
				<a href="#/weapons/{{actions.[1].weapon.weaponID}}" target="_blank">
					{{actions.[1].weapon.weaponName}}
				</a>
			</td>
			<td>+{{addition previousHitBonus actions.[1].hitBonus}}</td>
			<td>{{actions.[1].weapon.damageDiceNumber}}d{{actions.[1].weapon.damageDiceType}}+{{addition previousDamageBonus actions.[1].damageBonus}}+{{actions.[1].pierceBonus}}P</td>
			<td>{{#actions.[1].techniques}}[{{techniqueName}}{{#if specialEffects}} {{specialEffects}}{{/if}}] {{/actions.[1].techniques}}</td>
			<td>{{actions.[1].powerCost}}</td>
			<td>{{actions.[1].accuracyCost}}</td>
			<td>{{actions.[1].finesseCost}}</td>
			<td>{{addition previousEvade actions.[1].evadeBonus}}</td>
			<td>{{addition previousDamageReduction actions.[1].damageReductionBonus}}</td>
			<td>{{previousSabotageBonus}}</td>
			<td>{{previousSynergyBonus}}</td>
			<td>{{addition previousSynergyBonus actions.[1].resistanceBonus}}</td>
			<td>
				{{#each previousStatusEffects}}
					[{{modifier}} <a href="#/statusEffects/{{statusEffectID}}" target="_blank">{{statusEffectName}}</a>] 
				{{/each}}
			</td>
		</tr>
		{{/if}}
		{{/combatants}}
		</tbody>
	</table>
</div>

<div class="row-fluid">
	<legend class="span7">
		<a href="#/encounters/{{encounterID}}" class="editable" id="encounterName{{encounterID}}" name="encounterName" value="{{encounterID}}" data-type="text">{{encounterName}}</a> - Planning - Round {{currentRound}}
	</legend>
	<br>
	<button class="btn btn-mini btn-info pull-right nextRound">Done Planning</button>	
</div>

<div class="accordion" id="accordion2">
  {{#combatants}}
  {{#if character.characterName}}
  <div class="accordion-group">
    <div class="accordion-heading">
    	<div class="accordion-toggle">
    		<a class="btn btn-micro btn-info" name="collapse{{combatantID}}" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{combatantID}}"><i class="icon-chevron-down icon-white"> </i>
    		</a>
    		<a href="#/characters/{{character.characterID}}" target="_blank">
				{{character.characterName}}
			</a>
			- 
			HP: {{currentHp}} / {{character.hpTotal}},
	    	EP: {{currentEp}} / {{character.epTotal}}, 
		    +{{addition currentHitBonus actions.[0].hitBonus}} Hit,  
			+{{addition currentDamageBonus actions.[0].damageBonus}} Damage, 
			+{{actions.[0].pierceBonus}} Pierce, 
			Speed: {{actions.[0].speed}}, 
			Evade: {{addition currentEvade actions.[0].evadeBonus}}, 
			Protection: {{addition currentDamageReduction actions.[0].damageReductionBonus}},
			Resistance: {{addition currentSynergyBonus actions.[0].resistanceBonus}} 
			{{#each statusEffects}}
			[{{modifier}} <a href="#/statusEffects/{{statusEffectID}}" target="_blank">{{statusEffectName}}</a> <button class="btn btn-micro btn-danger removeStatus" id="removeStatus{{../combatantID}}" value="{{../combatantID}}" name="{{@index}}">-</button>] 
			{{/each}}
		    <button class="btn btn-mini btn-warning pull-right inflictStatus" id="inflictStatus{{combatantID}}" value="{{combatantID}}">Inflict Status</button>
		    <div class="offset1">
		    <a href="#/encounters/{{../encounterID}}" id="changePoints{{combatantID}}" value="{{combatantID}}" class="changePoints">
				Power: {{currentPower}}, 
				Accuracy: {{currentAccuracy}}, 
				Finesse: {{currentFinesse}}, 
				Wild: {{currentWild}},  
			</a>
			Carry: {{currentCarry}}
			</div>
    	</div>
    </div>
    <div id="collapse{{combatantID}}" class="accordion-body collapse">
      <div class="accordion-inner">
	    <div class="control-group weapons">
	        {{#character.weapons}}
	        	<label class="radio inline">
	  				<input type="radio" name="weaponsRadio{{../combatantID}}" id="combatant{{../combatantID}}weapon{{weaponID}}" value="{{../combatantID}}" class="weapon" {{usingWeapon ../combatantID weaponID}}>
	        		{{weaponName}} (+{{hitBonus}} hit, {{damageDiceNumber}}d{{damageDiceType}}+{{pierce}}P, speed {{speed}}, {{epCost}} EP)
	        	</label>
	        {{/character.weapons}}
        </div>

        <table class="table table-hover table-condensed">
	    <thead>
	    <tr>
	        <th></th>
	        <th>Technique</th>
	        <th>Power</th>
	        <th>Accuracy</th>
	        <th>Finesse</th>
	        <th>Hit</th>
	        <th>Damage</th>
	        <th>Pierce</th>
	        <th>Speed</th>
	        <th>Evade</th>
	        <th>Protection</th>
	        <th>Resistance</th>
	        <th>Type</th>
	        <th>Special</th>
	    </tr>
	    </thead>
	    <tbody>
	    {{#../../../techniques}}
	    <tr {{#techniqueColor powerCost accuracyCost finesseCost}} {{/techniqueColor}}>
	    	<td>
	    		<input type="checkbox" class="technique" id="combatant{{../combatantID}}technique{{techniqueID}}" value="{{../combatantID}}" {{#usingTechnique ../combatantID techniqueID}} {{/usingTechnique}}>
    		</td>
	    	<td>{{techniqueName}}</td>
	    	<td>{{powerCost}}</td>
	    	<td>{{accuracyCost}}</td>
	    	<td>{{finesseCost}}</td>
	    	<td>{{hitBonus}}</td>
	    	<td>{{damageBonus}}</td>
	    	<td>{{pierceBonus}}</td>
	    	<td>{{speedBonus}}</td>
	    	<td>{{evadeBonus}}</td>
	    	<td>{{damageReductionBonus}}</td>
	    	<td>{{resistanceBonus}}</td>
	    	<td>{{exclusiveSet}}</td>
	    	<td>{{specialEffects}}</td>
	    </tr>
	    {{/../../../techniques}}
	    </tbody>
	    </table>
      </div>
    </div>
  </div>
  {{/if}}
  {{/combatants}}
</div>

<form class="form-inline">
	<span class="span4">
		<select id="newCombatant" name="newCombatant">
		    {{#../characters}}
		    	<option value="{{characterID}}">{{characterName}}</option>
		    {{/../characters}}
		</select>
		<button class="btn btn-info addCombatant" type="button">Add</button>
	</span>
	<span class="offset3 span4">
		<select id="removeCombatant" name="removeCombatant">
		    {{#combatants}}
		    	<option value="{{combatantID}}">{{character.characterName}}</option>
		    {{/combatants}}
		</select>
		<button class="btn btn-danger removeCombatant" type="button">Remove</button>
	</span>
</form>

<div class="row-fluid span12">
	&nbsp;
</div>

{{/encounter}}
