<style>
.modal {
    overflow-y:auto;
    max-height:90%;
}
</style>

<div class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>New Encounter</h3>
    </div>
    <div class="modal-body">
    	<div class="control-group encounterName">
	        <label for="encounterName">Encounter Name</label>
	        <input id="encounterName" name="encounterName" type="text" class="encounterName input-medium">
	        <span class="help-inline"></span>
	    </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Close</button>
        <button class="btn btn-primary submitModal">Create</button>
    </div>
</div>