<div class="row-fluid">
	<legend class="span4">
		Encounters
	</legend>
	<br/>
	<button class="btn btn-mini btn-info pull-right create">New Encounter</button>	
</div>

<table class="table table-bordered table-condensed table-striped table-hover">
    <thead>
    <tr>
    	<th></th>
        <th>Encounter Name</th>
        <th>Current Round</th>
        <th>Combatants</th>
        <th>Action</th>
    </tr>
    </thead>
    {{#encounters}}
	<tr>
		<td><a href="#/encounters/{{encounterID}}" class="btn btn-mini btn-info"><i class=" icon-zoom-in icon-white"> </i></a></td>
	    <td><a href="#/encounters" class="editable" id="encounterName{{encounterID}}" name="encounterName" value="{{encounterID}}" data-type="text">{{encounterName}}</a></td>
	    <td>{{currentRound}}</td>
	    <td>{{#combatants}}[{{character.characterName}}] {{/combatants}}</td>
	  	<td class="delete">
	    	<button class="btn btn-mini btn-danger delete" id="delete{{encounterID}}" value="{{encounterID}}">Delete</button>
	    </td>
	</tr>
	{{/encounters}}
</table>

<style>
.table th {
   text-align: center;   
}
</style>