<button class="btn btn-mini btn-info create">New Encounter</button>
<p>
<ul class="nav nav-tabs nav-stacked">
{{#encounters}}
<li id="{{encounterID}}"><a href="#/encounters/{{encounterID}}">{{encounterName}}</a></li>
{{/encounters}}
</ul>
