<style>
.modal {
    overflow-y:auto;
    max-height:90%;
}
</style>

{{#combatant}}
<div class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Spend Energy of {{character.characterName}}</h3>
    </div>
    <div class="modal-body">
    	<div class="control-group energyCost">
	        <label for="energyCost">Enter EP Cost:</label>
	        <input id="energyCost" name="energyCost" type="number" value="0" class="energyCost input-medium">
	        <span class="help-inline"></span>
	    </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Close</button>
        <button class="btn btn-primary submitModal">Spend</button>
    </div>
</div>
{{/combatant}}