<style>
.modal {
    overflow-y:auto;
    max-height:90%;
}
</style>

{{#combatant}}
<div class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Inflict Status on {{character.characterName}}</h3>
    </div>
    <div class="modal-body">
    	<div class="control-group statusEffectID">
	        <label for="statusEffectID">Status Effect:</label>
            <select id="statusEffectID" name="statusEffectID">
                {{#../statusEffects}}
                <option value="{{statusEffectID}}">{{statusEffectName}}</option>
                {{/../statusEffects}}
            </select>
	        <span class="help-inline"></span>
	    </div>
        <div class="control-group checkModifier">
            <label for="checkModifier">Check Modifier:</label>
            <input id="checkModifier" name="checkModifier" type="number" value="0" class="checkModifier input-medium">
            <span class="help-inline"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Close</button>
        <button class="btn btn-primary submitModal">Submit</button>
    </div>
</div>
{{/combatant}}