
<style>
.modal {
    overflow-y:auto;
    max-height:90%;
}
</style>

{{#character}}

<div class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{{characterName}} - Spend Points</h3>
    </div>
    <form>
    <div class="modal-body">
        <table cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td width="60%">
                    <div class="control group attributes">
                        <label for="attribute">Attribute Points</label>
                        <input id="attribute" name="attribute" type="text" class="user input-medium" value="{{attribute}}" readonly="true" style="font-weight:bold;font-size:16pt;">
                        <p>
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td>
                                    Attribute
                                </td>
                                <td>
                                    Base&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td colspan="2">
                                    Total
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="2">
                                    Strength: &nbsp; &nbsp;
                                </td>
                                <td rowspan="2">
                                    {{strength}}
                                </td>
                                <td rowspan="2">
                                    <input type="text" id="strengthTotal" name="strengthTotal" value="{{strengthTotal}}" readonly="true" style="width:20px;height:30px;font-weight:bold;padding:5px;">
                                </td>
                                <td>
                                    <input type="button" value=" /\ " onclick="if (this.form.attribute.value > 0) { this.form.strengthTotal.value++; this.form.attribute.value--; }" style="font-ize:7px;margin-top:-1px;padding:0px;width:20px;height:21px;">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="button" value=" \/ " onclick="if (this.form.strengthTotal.value > {{strength}}) { this.form.strengthTotal.value--; this.form.attribute.value++; }" style="font-ize:7px;margin-top:-11px;padding:0px;width:20px;height:21px;">
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="2">
                                    Dexterity: &nbsp; &nbsp;
                                </td>
                                <td rowspan="2">
                                    {{dexterity}}
                                </td>
                                <td rowspan="2">
                                    <input type="text" id="dexterityTotal" name="dexterityTotal" value="{{dexterityTotal}}" readonly="true" style="width:20px;height:30px;font-weight:bold;padding:5px;">
                                </td>
                                <td>
                                    <input type="button" value=" /\ " onclick="if (this.form.attribute.value > 0) { this.form.dexterityTotal.value++; this.form.attribute.value--; }" style="font-ize:7px;margin-top:-1px;padding:0px;width:20px;height:21px;">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="button" value=" \/ " onclick="if (this.form.dexterityTotal.value > {{dexterity}}) { this.form.dexterityTotal.value--; this.form.attribute.value++; }" style="font-ize:7px;margin-top:-11px;padding:0px;width:20px;height:21px;">
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="2">
                                    Agility: &nbsp; &nbsp;
                                </td>
                                <td rowspan="2">
                                    {{agility}}
                                </td>
                                <td rowspan="2">
                                    <input type="text" id="agilityTotal" name="agilityTotal" value="{{agilityTotal}}" readonly="true" style="width:20px;height:30px;font-weight:bold;padding:5px;">
                                </td>
                                <td>
                                    <input type="button" value=" /\ " onclick="if (this.form.attribute.value > 0) { this.form.agilityTotal.value++; this.form.attribute.value--; }" style="font-ize:7px;margin-top:-1px;padding:0px;width:20px;height:21px;">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="button" value=" \/ " onclick="if (this.form.agilityTotal.value > {{agility}}) { this.form.agilityTotal.value--; this.form.attribute.value++; }" style="font-ize:7px;margin-top:-11px;padding:0px;width:20px;height:21px;">
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="2">
                                    Health: &nbsp; &nbsp;
                                </td>
                                <td rowspan="2">
                                    {{health}}
                                </td>
                                <td rowspan="2">
                                    <input type="text" id="healthTotal" name="healthTotal" value="{{healthTotal}}" readonly="true" style="width:20px;height:30px;font-weight:bold;padding:5px;">
                                </td>
                                <td>
                                    <input type="button" value=" /\ " onclick="if (this.form.attribute.value > 0) { this.form.healthTotal.value++; this.form.attribute.value--; }" style="font-ize:7px;margin-top:-1px;padding:0px;width:20px;height:21px;">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="button" value=" \/ " onclick="if (this.form.healthTotal.value > {{health}}) { this.form.healthTotal.value--; this.form.attribute.value++; }" style="font-ize:7px;margin-top:-11px;padding:0px;width:20px;height:21px;">
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="2">
                                    Cunning: &nbsp; &nbsp;
                                </td>
                                <td rowspan="2">
                                    {{cunning}}
                                </td>
                                <td rowspan="2">
                                    <input type="text" id="cunningTotal" name="cunningTotal" value="{{cunningTotal}}" readonly="true" style="width:20px;height:30px;font-weight:bold;padding:5px;">
                                </td>
                                <td>
                                    <input type="button" value=" /\ " onclick="if (this.form.attribute.value > 0) { this.form.cunningTotal.value++; this.form.attribute.value--; }" style="font-ize:7px;margin-top:-1px;padding:0px;width:20px;height:21px;">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="button" value=" \/ " onclick="if (this.form.cunningTotal.value > {{cunning}}) { this.form.cunningTotal.value--; this.form.attribute.value++; }" style="font-ize:7px;margin-top:-11px;padding:0px;width:20px;height:21px;">
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="2">
                                    Willpower: &nbsp; &nbsp;
                                </td>
                                <td rowspan="2">
                                    {{willpower}}
                                </td>
                                <td rowspan="2">
                                    <input type="text" id="willpowerTotal" name="willpowerTotal" value="{{willpowerTotal}}" readonly="true" style="width:20px;height:30px;font-weight:bold;padding:5px;">
                                </td>
                                <td>
                                    <input type="button" value=" /\ " onclick="if (this.form.attribute.value > 0) { this.form.willpowerTotal.value++; this.form.attribute.value--; }" style="font-ize:7px;margin-top:-1px;padding:0px;width:20px;height:21px;">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="button" value=" \/ " onclick="if (this.form.willpowerTotal.value > {{willpower}}) { this.form.willpowerTotal.value--; this.form.attribute.value++; }" style="font-ize:7px;margin-top:-11px;padding:0px;width:20px;height:21px;">
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="2">
                                    Intelligence: &nbsp; &nbsp;
                                </td>
                                <td rowspan="2">
                                    {{intelligence}}
                                </td>
                                <td rowspan="2">
                                    <input type="text" id="intelligenceTotal" name="intelligenceTotal" value="{{intelligenceTotal}}" readonly="true" style="width:20px;height:30px;font-weight:bold;padding:5px;">
                                </td>
                                <td>
                                    <input type="button" value=" /\ " onclick="if (this.form.attribute.value > 0) { this.form.intelligenceTotal.value++; this.form.attribute.value--; }" style="font-ize:7px;margin-top:-1px;padding:0px;width:20px;height:21px;">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="button" value=" \/ " onclick="if (this.form.intelligenceTotal.value > {{intelligence}}) { this.form.intelligenceTotal.value--; this.form.attribute.value++; }" style="font-ize:7px;margin-top:-11px;padding:0px;width:20px;height:21px;">
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td valign="top">
                    <div class="control group skills">
                    <label for="skill">Skill Points</label>
                    <input id="skill" name="skill" type="text" class="user input-medium" value="{{skill}}" readonly="true" style="font-weight:bold;font-size:16pt;">
                    <p>
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td>
                                Discipline &nbsp; &nbsp;
                            </td>
                            <td colspan="2">
                                Total
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="2">
                                Power: &nbsp; &nbsp;
                            </td>
                            <td rowspan="2">
                                <input type="text" id="power" name="power" value="{{power}}" readonly="true" style="width:20px;height:30px;font-weight:bold;padding:5px;">
                            </td>
                            <td>
                                <input type="button" value=" /\ " onclick="if (this.form.skill.value > 0) { this.form.power.value++; this.form.skill.value--; }" style="font-ize:7px;margin-top:-1px;padding:0px;width:20px;height:21px;">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="button" value=" \/ " onclick="if (this.form.power.value > 0) { this.form.power.value--; this.form.skill.value++; }" style="font-ize:7px;margin-top:-11px;padding:0px;width:20px;height:21px;">
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="2">
                                Accuracy: &nbsp; &nbsp;
                            </td>
                            <td rowspan="2">
                                <input type="text" id="accuracy" name="accuracy" value="{{accuracy}}" readonly="true" style="width:20px;height:30px;font-weight:bold;padding:5px;">
                            </td>
                            <td>
                                <input type="button" value=" /\ " onclick="if (this.form.skill.value > 0) { this.form.accuracy.value++; this.form.skill.value--; }" style="font-ize:7px;margin-top:-1px;padding:0px;width:20px;height:21px;">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="button" value=" \/ " onclick="if (this.form.accuracy.value > 0) { this.form.accuracy.value--; this.form.skill.value++; }" style="font-ize:7px;margin-top:-11px;padding:0px;width:20px;height:21px;">
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="2">
                                Finesse: &nbsp; &nbsp;
                            </td>
                            <td rowspan="2">
                                <input type="text" id="finesse" name="finesse" value="{{finesse}}" readonly="true" style="width:20px;height:30px;font-weight:bold;padding:5px;">
                            </td>
                            <td>
                                <input type="button" value=" /\ " onclick="if (this.form.skill.value > 0) { this.form.finesse.value++; this.form.skill.value--; }" style="font-ize:7px;margin-top:-1px;padding:0px;width:20px;height:21px;">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="button" value=" \/ " onclick="if (this.form.finesse.value > 0) { this.form.finesse.value--; this.form.skill.value++; }" style="font-ize:7px;margin-top:-11px;padding:0px;width:20px;height:21px;">
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="2">
                                Wild: &nbsp; &nbsp;
                            </td>
                            <td rowspan="2">
                                <input type="text" id="wild" name="wild" value="{{wild}}" readonly="true" style="width:20px;height:30px;font-weight:bold;padding:5px;">
                            </td>
                            <td>
                                <input type="button" value=" /\ " onclick="if (this.form.skill.value > 1) { this.form.wild.value++; this.form.skill.value--; this.form.skill.value--; }" style="font-ize:7px;margin-top:-1px;padding:0px;width:20px;height:21px;">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="button" value=" \/ " onclick="if (this.form.wild.value > 0) { this.form.wild.value--; this.form.skill.value++; this.form.skill.value++; }" style="font-ize:7px;margin-top:-11px;padding:0px;width:20px;height:21px;">
                            </td>
                        </tr>
                    </table>
                </div>
                </td>
            </tr>
        </table>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Close</button>
        <button class="btn btn-primary spendPointsModal">Spend</button>
    </div>
</div>
{{/character}}