<style>
.modal {
    overflow-y:auto;
    max-height:90%;
}
</style>

<div class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>New Status Effect</h3>
    </div>
    <div class="modal-body">
    	<div class="control-group statusEffectName">
	        <label for="statusEffectName">Status Effect Name</label>
	        <input id="statusEffectName" name="statusEffectName" type="text" class="statusEffectName input-medium">
	        <span class="help-inline"></span>
	    </div>
        <div class="control-group statusEffectDescription">
            <label for="statusEffectDescription">Status Effect Description</label>
            <input id="statusEffectDescription" name="statusEffectDescription" type="text" class="statusEffectDescription input-medium">
            <span class="help-inline"></span>
        </div>
        <div class="control-group persistent">
            <label for="persistent">Persistent</label>
             <select id="persistent" name="persistent">
                <option value="false">False</option>
                <option value="true">True</option>
            </select>
            <span class="help-inline"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Close</button>
        <button class="btn btn-primary submitModal">Create</button>
    </div>
</div>