<div class="row-fluid">
	<legend class="span4">
		Status Effects
	</legend>
	<br/>
	<button class="btn btn-mini btn-info pull-right create">New Status Effect</button>	
</div>

<table class="table table-bordered table-hover table-condensed table-striped">
    <thead>
    <tr>
        <th>Status Effect Name</th>
        <th>Status Effect Description</th>
        <th>Effects</th>
        <th>Persistent</th>
        <th>Action</th>
    </tr>
    </thead>
    {{#statusEffects}}
	<tr>
	    <td><a href="#/statusEffects" class="editable" id="statusEffectName{{statusEffectID}}" name="statusEffectName" value="{{statusEffectID}}" data-type="text">{{statusEffectName}}</a></td>
	    <td>
	    	<a href="#/statusEffects" class="editable" id="statusEffectDescription{{statusEffectID}}" name="statusEffectDescription" value="{{statusEffectID}}" data-type="text">
	    		{{#if statusEffectDescription}}
	    			{{statusEffectDescription}}
	    		{{else}}
	    			None
	    		{{/if}}
	    	</a>
	    </td>
	    <td>{{#each attributeEffects}}[<a href="#/statusEffects" class="editableAffectedAttribute" id="{{@key}}{{../statusEffectID}}" name="{{@key}}" value="{{../statusEffectID}}" data-type="text">{{@key}}</a>: <a href="#/statusEffects" class="editableAttributeEffect" id="{{@key}}{{../statusEffectID}}" name="{{@key}}" value="{{../statusEffectID}}" data-type="text">{{this}}</a>] {{/each}}<button class="btn btn-micro btn-success addAttributeEffect" id="addAttributeEffect{{statusEffectID}}" value="{{statusEffectID}}">+	</button></td>
	    <td>
	    	<a href="#/statusEffects" class="editable" id="persistent{{statusEffectID}}" value="{{statusEffectID}}" name="persistent" data-type="select" data-source='[{value: "false", text: "False"}, {value: "true", text: "True"}]'>
	    		{{#if persistent}}
	    			True
	    		{{else}}
	    			False
	    		{{/if}}
	    	</a>
	    </td>
	    <td class="delete">
	    <button class="btn btn-mini btn-danger delete" id="delete{{statusEffectID}}" value="{{statusEffectID}}">Delete</button>
	    </td>
	</tr>
	{{/statusEffects}}
</table>

<style>
.table th {
   text-align: center;   
}
</style>