<style>
.modal {
    overflow-y:auto;
    max-height:90%;
}
</style>

<div class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>New Technique</h3>
    </div>
    <div class="modal-body">
    	<div class="control-group techniqueName">
	        <label for="techniqueName">Technique Name</label>
	        <input id="techniqueName" name="techniqueName" type="text" class="techniqueName input-medium">
	        <span class="help-inline"></span>
	    </div>
        <div class="control-group techniqueLevel">
            <label for="techniqueLevel">Level</label>
            <input id="techniqueLevel" name="techniqueLevel" type="number" value="1" min="1" class="techniqueLevel input-medium">
            <span class="help-inline"></span>
        </div>
        <div class="control-group powerCost">
            <label for="powerCost">Power Cost</label>
            <input id="powerCost" name="powerCost" type="number" value="0" min="0" class="powerCost input-medium">
            <span class="help-inline"></span>
        </div>
        <div class="control-group accuracyCost">
            <label for="accuracyCost">Accuracy Cost</label>
            <input id="accuracyCost" name="accuracyCost" type="number" value="0" min="0" class="accuracyCost input-medium">
            <span class="help-inline"></span>
        </div>
        <div class="control-group finesseCost">
            <label for="finesseCost">Finesse Cost</label>
            <input id="finesseCost" name="finesseCost" type="number" value="0" min="0" class="finesseCost input-medium">
            <span class="help-inline"></span>
        </div>
        <div class="control-group hitBonus">
            <label for="hitBonus">Hit Bonus</label>
            <input id="hitBonus" name="hitBonus" type="number" value="0" class="hitBonus input-medium">
            <span class="help-inline"></span>
        </div>
        <div class="control-group damageBonus">
            <label for="damageBonus">Damage Bonus</label>
            <input id="damageBonus" name="damageBonus" type="number" value="0" class="damageBonus input-medium">
            <span class="help-inline"></span>
        </div>
        <div class="control-group pierceBonus">
            <label for="pierceBonus">Pierce Bonus</label>
            <input id="pierceBonus" name="pierceBonus" type="number" value="0" class="pierceBonus input-medium">
            <span class="help-inline"></span>
        </div>
        <div class="control-group speedBonus">
            <label for="speedBonus">Speed Bonus</label>
            <input id="speedBonus" name="speedBonus" type="number" value="0" class="speedBonus input-medium">
            <span class="help-inline"></span>
        </div>
        <div class="control-group evadeBonus">
            <label for="evadeBonus">Evade Bonus</label>
            <input id="evadeBonus" name="evadeBonus" type="number" value="0" class="evadeBonus input-medium">
            <span class="help-inline"></span>
        </div>
        <div class="control-group damageReductionBonus">
            <label for="damageReductionBonus">Damage Reduction Bonus</label>
            <input id="damageReductionBonus" name="damageReductionBonus" value="0" type="number" class="damageReductionBonus input-medium">
            <span class="help-inline"></span>
        </div>
        <div class="control-group resistanceBonus">
            <label for="resistanceBonus">Resistance Bonus</label>
            <input id="resistanceBonus" name="resistanceBonus" value="0" type="number" class="resistanceBonus input-medium">
            <span class="help-inline"></span>
        </div>
        <div class="control-group type">
            <label for="type">Type</label>
            <select id="type" name="type">
                <option value="None">None</option>
                <option value="Defense">Defense</option>
                <option value="Area Attack">Area Attack</option>
                <option value="Movement">Movement</option>
            </select>
            <span class="help-inline"></span>
        </div>
        <div class="control-group specialEffects">
            <label for="specialEffects">Other Effects</label>
            <input id="specialEffects" name="specialEffects" value="" type="text" class="specialEffects input-medium">
            <span class="help-inline"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Close</button>
        <button class="btn btn-primary submitModal">Create</button>
    </div>
</div>