<div class="row-fluid">
	<legend class="span4">
		Techniques
	</legend>
	<br/>
	<div class="btn-group pull-right">
		<button class="btn btn-mini btn-info create">New Technique</button>
		<button class="btn btn-mini btn-info upload" id="uploadCSV" onclick="$('input[id=csvFile]').click();">&nbsp;Upload CSV&nbsp;</button>
	</div>
</div>

<input id="csvFile" name="csvFile" type="file" size="200" style="display:none">

<table class="table table-bordered table-condensed table-striped table-hover">
    <thead>
    <tr>
        <th>Technique</th>
        <th>Power</th>
        <th>Accuracy</th>
        <th>Finesse</th>
        <th>Hit</th>
        <th>Damage</th>
        <th>Pierce</th>
        <th>Speed</th>
        <th>Evade</th>
        <th>Protection</th>
        <th>Resistance</th>
        <th>Other</th>
        <th>Type</th>
        <th>Level</th>
        <th>Action</th>
    </tr>
    </thead>
    {{#techniques}}
	<tr>
	    <td align="center"><a href="#/techniques" class="editable" id="techniqueName{{techniqueID}}" name="techniqueName" value="{{techniqueID}}" data-type="text">{{techniqueName}}</a></td>
	    <td><a href="#/techniques" class="editablePositiveNumber" id="powerCost{{techniqueID}}" name="powerCost" value="{{techniqueID}}" data-type="text">{{powerCost}}</a></td>
	    <td><a href="#/techniques" class="editablePositiveNumber" id="accuracyCost{{techniqueID}}" value="{{techniqueID}}" name="accuracyCost" data-type="text">{{accuracyCost}}</a></td>
	    <td><a href="#/techniques" class="editablePositiveNumber" id="finesseCost{{techniqueID}}" value="{{techniqueID}}" name="finesseCost" data-type="text">{{finesseCost}}</a></td>
	    <td><a href="#/techniques" class="editableNumber" id="hitBonus{{techniqueID}}" value="{{techniqueID}}" name="hitBonus" data-type="text">{{hitBonus}}</a></td>
	    <td><a href="#/techniques" class="editableNumber" id="damageBonus{{techniqueID}}" value="{{techniqueID}}" name="damageBonus" data-type="text">{{damageBonus}}</a></td>
	    <td><a href="#/techniques" class="editableNumber" id="pierceBonus{{techniqueID}}" value="{{techniqueID}}" name="pierceBonus" data-type="text">{{pierceBonus}}</a></td>
	    <td><a href="#/techniques" class="editableNumber" id="speedBonus{{techniqueID}}" value="{{techniqueID}}" name="speedBonus" data-type="text">{{speedBonus}}</a></td>
	    <td><a href="#/techniques" class="editableNumber" id="evadeBonus{{techniqueID}}" value="{{techniqueID}}" name="evadeBonus" data-type="text">{{evadeBonus}}</a></td>
	    <td><a href="#/techniques" class="editableNumber" id="damageReductionBonus{{techniqueID}}" value="{{techniqueID}}" name="damageReductionBonus" data-type="text">{{damageReductionBonus}}</a></td>
	    <td><a href="#/techniques" class="editableNumber" id="resistanceBonus{{techniqueID}}" value="{{techniqueID}}" name="resistanceBonus" data-type="text">{{resistanceBonus}}</a></td>
	    <td>
	    	<a href="#/techniques" class="editableOptional" id="specialEffects{{techniqueID}}" value="{{techniqueID}}" name="specialEffects" data-type="text">
			    {{#if specialEffects}}
			    	{{specialEffects}}
			    {{else}}
			    	None
			    {{/if}}
	    	</a>
	    </td>
	    <td>
	    	<a href="#/techniques" class="editable" id="exclusiveSet{{techniqueID}}" value="{{techniqueID}}" name="exclusiveSet" data-type="select" data-source='[{value: "None", text: "None"}, {value: "Defense", text: "Defense"}, {value: "Area Attack", text: "Area Attack"}, {value: "Movement", text: "Movement"}]'>
		    	{{#if exclusiveSet}}
					{{exclusiveSet}}
				{{else}}
					None
				{{/if}}
	    	</a>
	    </td>
	    <td><a href="#/techniques" class="editablePositiveNonZero" id="techniqueLevel{{techniqueID}}" name="techniqueLevel" value="{{techniqueID}}" data-type="text">{{techniqueLevel}}</a></td>
	    <td class="delete">
	    <button class="btn btn-mini btn-danger delete" id="delete{{techniqueID}}" value="{{techniqueID}}">Delete</button>
	    </td>
	</tr>
	{{/techniques}}
</table>

<div class="row-fluid span12">
	&nbsp;
</div>

<style>
.table th {
   text-align: center;   
}
</style>