<style>
.modal {
    overflow-y:auto;
    max-height:90%;
}
</style>

<div class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>New Weapon</h3>
    </div>
    <div class="modal-body">
    	<div class="control-group weaponName">
	        <label for="weaponName">Weapon Name</label>
	        <input id="weaponName" name="weaponName" type="text" class="weaponName input-medium">
	        <span class="help-inline"></span>
	    </div>
        <div class="control-group combatSkill">
            <label for="combatSkill">Combat Skill</label>
            <select id="combatSkill" name="combatSkill">
                {{#combatSkills}}
                <option value="{{combatSkillID}}">{{combatSkillName}}</option>
                {{/combatSkills}}
            </select>
            <span class="help-inline"></span>
        </div>
        <div class="control-group hitBonus">
            <label for="hitBonus">Hit Bonus</label>
            <input id="hitBonus" name="hitBonus" type="number" value="0" min="0" class="hitBonus input-medium">
            <span class="help-inline"></span>
        </div>
        <div class="control-group damageDiceNumber">
            <label for="damageDiceNumber">Number of Damage Dice</label>
            <input id="damageDiceNumber" name="damageDiceNumber" type="number" value="1" min="0" class="damageDiceNumber input-medium">
            <span class="help-inline"></span>
        </div>
        <div class="control-group damageDiceType">
            <label for="damageDiceType">Damage Dice Type</label>
            <input id="damageDiceType" name="damageDiceType" type="number" value="6" min="0" class="damageDiceType input-medium">
            <span class="help-inline"></span>
        </div>
        <div class="control-group pierce">
            <label for="pierce">Pierce</label>
            <input id="pierce" name="pierce" type="number" value="0" min="0" class="pierce input-medium">
            <span class="help-inline"></span>
        </div>
        <div class="control-group speed">
            <label for="speed">Speed</label>
            <input id="speed" name="speed" type="number" value="4" min="0" class="speed input-medium">
            <span class="help-inline"></span>
        </div>
        <div class="control-group range">
            <label for="range">Range</label>
            <input id="range" name="range" type="number" value="0" min="0" class="range input-medium">
            <span class="help-inline"></span>
        </div>
        <div class="control-group epCost">
            <label for="epCost">EP Cost</label>
            <input id="epCost" name="epCost" type="number" value="0" class="epCost input-medium">
            <span class="help-inline"></span>
        </div>
        <div class="control-group hands">
            <label for="hands">Hands</label>
            <input id="hands" name="hands" type="number" value="1" min="1" max="2" class="hands input-medium">
            <span class="help-inline"></span>
        </div>
        <div class="control-group cost">
            <label for="cost">Cost</label>
            <input id="cost" name="cost" type="number" value="0" min="0" class="cost input-medium">
            <span class="help-inline"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Close</button>
        <button class="btn btn-primary submitModal">Create</button>
    </div>
</div>