<div class="row-fluid">
	<legend class="span4">
		Weapons
	</legend>
	<br/>
	<button class="btn btn-mini btn-info pull-right create">New Weapon</button>	
</div>

<table class="table table-bordered table-hover table-condensed table-striped">
    <thead>
    <tr>
        <th>Weapon Name</th>
        <th>Hit Bonus</th>
        <th>Damage</th>
        <th>Pierce</th>
        <th>Speed</th>
        <th>Range</th>
        <th>EP Cost</th>
        <th>Hands</th>
        <th>Cost</th>
        <th>Combat Skill</th>
        <th>Action</th>
    </tr>
    </thead>
    {{#weapons}}
	<tr>
	    <td><a name="{{weaponID}}"/><a href="#/weapons" class="editable" id="weaponName{{weaponID}}" value="{{weaponID}}" name="weaponName" data-type="text">{{weaponName}}</a></td>
	    <td><a href="#/weapons" class="editableNumber" id="hitBonus{{weaponID}}" value="{{weaponID}}" name="hitBonus" data-type="text">{{hitBonus}}</a></td>
	    <td><a href="#/weapons" class="editablePositiveNumber" id="damageDiceNumber{{weaponID}}" value="{{weaponID}}" name="damageDiceNumber" data-type="text">{{damageDiceNumber}}</a>d<a href="#/weapons" class="editablePositiveNumber" id="damageDiceType{{weaponID}}" value="{{weaponID}}" name="damageDiceType" data-type="text">{{damageDiceType}}</a></td>
	    <td><a href="#/weapons" class="editableNumber" id="pierce{{weaponID}}" value="{{weaponID}}" name="pierce" data-type="text">{{pierce}}</a></td>
	    <td><a href="#/weapons" class="editableNumber" id="speed{{weaponID}}" value="{{weaponID}}" name="speed" data-type="text">{{speed}}</a></td>
	    <td><a href="#/weapons" class="editablePositiveNumber" id="range{{weaponID}}" value="{{weaponID}}" name="range" data-type="text">{{range}}</a></td>
	    <td><a href="#/weapons" class="editableNumber" id="epCost{{weaponID}}" value="{{weaponID}}" name="epCost" data-type="text">{{epCost}}</a></td>
	    <td><a href="#/weapons" class="editablePositiveNumber" id="hands{{weaponID}}" value="{{weaponID}}" name="hands" data-type="text">{{hands}}</a></td>
	    <td><a href="#/weapons" class="editablePositiveNumber" id="cost{{weaponID}}" value="{{weaponID}}" name="cost" data-type="text">{{cost}}</a></td>
	    <td><a href="#/weapons" class="editableCombatSkill" id="combatSkill{{weaponID}}" value="{{weaponID}}" name="combatSkill" data-type="select" data-source='[{{#../combatSkills}}{value: {{combatSkillID}}, text: "{{combatSkillName}}"}, {{/../combatSkills}}]'>{{combatSkill.combatSkillName}}</a></td>
	    <td class="delete">
	    <button class="btn btn-mini btn-danger delete" id="delete{{weaponID}}" value="{{weaponID}}">Delete</button>
	    </td>
	</tr>
	{{/weapons}}
</table>

<style>
.table th {
   text-align: center;   
}
</style>